.menu {
    background: url("../images/background_menu.svg") no-repeat center;
    margin: 0 auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
  
.menu__title {
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 100px auto 0;
    max-width: 780px;
}
  
.menu__subtitle {
    font-family: "Noto serif", "Times New Roman", serif;
    font-size: 20px;
    line-height: 30px;
    max-width: 780px;
    margin: 24px auto 0;
    text-align: center;
}
  
.menu__cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0;
    margin: 0 auto;
    flex-direction: row;
    gap: 100px;
}